h2{
    text-align: center;
    margin: 15px;
}

.form-group{
    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
}

.btn{
    align-items: center;    
    margin-left: 2px;
    align-items: stretch;
        
}

