.footer {
    position: fixed;
    bottom: 0;

    justify-content: flex-end;
}

span {
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    align-items: center;
}

.footer .material-icons{
    padding-left: 8px;
}